body {
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* .all-eaten {
    background-color: #b2cc54;
} */

h1, h2, h3 {
    font-family: 'Righteous', cursive;
}

h1 {
    font-size: 500%;
}

h2 {
    font-size: 350%;
    padding-top: 1.5em;
    margin-top: 0;
}

h3 {
    font-size: 250%;
    padding: 1em;
}

h5 {
    font-size: 150%;
}

.page-title {
    text-align: center;
    margin: 0.5em 0 0.5em 0;
    color: black;
    border: 0.2em solid #254121;
    background-color: #b2cc54;
    max-width: 60%;
    margin: 0.5em auto;
    border-radius: 0.5em;
}

.available {
    font-size: 150%;
    border-radius: .5em;
    margin: 0.5em 0 0.5em 0;
    /* line-height: 2em; */
    padding: 0.5em;
    border: 0.1em solid black;
}

.picture-and-form, .ready-to-eat, .all-eaten {
    margin: auto;
    text-align: center;
    padding: 2em;
}

.ready-to-eat, .all-eaten {
    overflow: auto;
    height: 65vh;
    border-radius: 3em;
    border: 1em solid #254121;
    background-color: #b2cc54;
    color: black;
}

.picture-and-form {
    background-color: black;
    border-radius: 3em;
    border: 1em solid #b2cc54;
    height: 55vh;
}

.all-eaten div {
    margin: 0.5em 0;
}

.wrapper {
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 3em;
    margin: auto;
    justify-items: left;
    grid-column-gap: 3em;
    padding-bottom: 30px;
}

#burger-img {
    max-width: 100%;
}

.add-burger-button, #burger-input {
    font-size: 130%;
    padding: 0.5em;
    border-radius: 0.25em;
    margin: 0 0.5em;
}
